@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root{
    font-family: 'Montserrat', sans-serif;

    --hover-color: #70d2c7;
    --light-background-color: #FFF;
    --dark-background-color : #252B42;
    --primary-color: #23A6F0;

}

/* Generic */

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ion-icon {
    cursor: pointer;

}

.encabezado__iconos-opciones{
    font-size: 24px;
    color: var(--light-background-color);
}

/* Encabezado */

.encabezado{
    position: sticky;
    top: 0; 
    z-index: 2;
    background: var(--hover-color);
    display: flex;
    justify-content: center;
    height: 102px;
}

.encabezado__paginas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
}

.conetenedor__marca{
    display: flex;
    align-items: center;
    gap: 48px;
}

.img__log {
    width: 130px;
    height: 130px;
}

.paginas__contenedor{
    display: flex;
    align-items: center;
    gap: 48px;
}

.paginas__logo {
    color: var(--light-background-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}

.paginas__contenedor--navegacion{
    gap: 24px;
}

.paginas__link{
    color: var(--light-background-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    letter-spacing: 0.2px;
}

.paginas__link-bold{
    color: var(--dark-background-color);
    font-weight: 700;
}

.encabezado__icons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.icono__carrito-compras{
    position: relative;
}

.icono__carrito-compras > span {
    position: absolute;
    top: -5px;
    right: -8px;
    color: var(--light-background-color);
    font-family: Montserrat;
    font-size: 12px;
    line-height: 16px;
}

/* Carrito compras */

.card {
    position: fixed;
    top: 0;
    left: calc(100% - 500px);
    width: 500px;
    background-color: bisque;
    height: 100vh;
    transition: 0.5s;
    z-index: 4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1{
        color: var(--dark-background-color);
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
}
.list{
    width: 100%;
}

.card .checkout {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkout__precio-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.card .checkout div {
    background-color: #e8bc0e;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkout div:nth-child((2)) {
    background-color: #1c1f25;
    color: #fff;
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}

.contenedor__items-carrito {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    width: 100%;

    & img{
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
}

.item__carrito-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item__carrito-nombre{
    color: var(--dark-background-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.item__carrito-precio{
    color: var(--second-text-color, #737373);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

/* Cuerpo */

.cuerpo{
    max-width: 1146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px;
    margin: 0 auto;
}

section{
    width: 100%;
}

.hero{
    position: relative;
}

.hero__flechas-slider{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;
    font-size: 40px;
    color: var(--dark-background-color);
}

.hero__flechas-slider--derecha{
    right: 0;
}

.hero__banner{
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('./assets/imagen-banner.jpeg'), lightgray 50%;
    background-position: 25% 75%;;
    background-size: cover;
    height: 540px;
}

.banner__info{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    color: var(--light-background-color);

    & h2{
        font-size: 58px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 0.2px;
    }

    & p{
        color: var(--light-background-color);
        font-family: Montserrat;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
    }

    & a{
        padding: 15px 40px;
        background-color: var(--primary-color);
        border-radius: 5px;
        width: 208px;
        color: var(--light-background-color);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
}

/* Productos en descuento */

.hero__oferta{
    display: flex;
    height: 540px;
    justify-content: space-evenly;
    align-self: center;
}

.oferta__galeria-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

.galeria__imagenes--principal{
    height: 400px;
    background-color: red;

    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.oferta__galeria-imagenes--secundarias{
    display: flex;
    gap: 24px;
    height: 80px;
}

.galeria__imagenes--secundaria{
    width: 80px;
    height: 100%;
    background-color: grey;

    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.oferta__info{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.oferta__nombre{
    color: var(--dark-background-color);
    font-size: 20px;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}

.oferta__calificacion{
    display: flex;
    gap: 16px;
} 

.calificacion__estrellas{
    background-color: yellow;
    height: 30px;
    width: 100px;
}

.calificacion__comentarios{
    color: var(--second-text-color, #737373);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}

.oferta__disponibilidad{
    color: var(--second-text-color, #737373);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;

    & span{
        color: var(--primary-color, #23A6F0);
    }
}

.oferta__descripcion{
    color: #858585;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #737373;
}

.oferta__colores-disponibles{
    display: flex;
    gap: 8px;
}
.colores-disponibles{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.colores-disponibles__color1{
    background-color: #23A6F0;
}
.colores-disponibles__color2{
    background-color: greenyellow;
}
.colores-disponibles__color3{
    background-color: peru;
}
.colores-disponibles__color4{
    background-color: slateblue;
}

/* Info CSS Edgar productos */

/*Comienza personalizacion seccion Productos*/
.seccionProductos{
    background-color: white;
}

/*Comienza personalizacion Titulo seccion Productos*/
.productosTitulo {
    margin-top: 40px;   
    margin-bottom: 20px;
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1px;
    text-align: center;
}

.hrProductosTitulo{
    color: lightgray;
    width: 1042px;
    height: 2px;
}

/*Comienza personalizacion cards seccion Productos*/
.productosCards {
    display: flex;
    width: 1124px;
    padding: 48px 0px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: auto;
}

.Card{
    width: 239px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
}

.productoImg{
    width: 239px;
    height: 280px;
}

.productoImg img{
    width: 100%;
    height: 100%;
}


.productoButton{

    background-color: rgba(112, 210, 199, 1);
    color: white;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 25px;
    text-decoration: bold;
    border: none;
}

/*info CSS Joscari footer */

/***** MARCAS *****/
.marcas__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.brand{
    margin:auto;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.marca__img1 {
    width: 150px;
}

.marca__img {
    width: 200px;
}

/***** FOOTER ******/

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
    color: #70d2c7;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
display: inline-block;
padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

/* info CSS Gabriela Rese침as */

.cont__resena {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    border-radius: 9px;
}

.resenas {
    text-align: justify;
    position: relative;
}


.resenas {
    display: flex;
}

.resena-info {
    display: flex;
    flex-direction: column;
}

.resena-comentario {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.resena-reacciones {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 16px;
}

.resena-titulo {
    color: var(--text-color, #252B42);
    /* h2 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.6px;
    margin-right: 100px;
}

.userImg {
    width: 90px;
    height: 85px;
    border-radius: 75px;
    margin-right: 20px;
    margin-top: 30px;
}

.resena-subtitulo {
    flex: 1 0 0;
    color: var(--second-text-color, #737373);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.resena-opinion {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-right: 12px;
}
.estrellas {
    display: flex;
    font-size: 10px;
    color: #bbb;
    transition: color 0.3s;
    
}

/* info Modal*/
#abrirModal {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Estilo del contenido del modal */
.modal-contenido {
    background-color: white;
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
}

.modal-contenido h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

.modal-contenido p{
    font-size: 15px;
    line-height: 25px;
}

/* Estilo de la imagen del producto */
.modal-contenido img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo del bot칩n para cerrar el modal */
.modal-cerrar {
    margin: 20px;
    background-color: whitesmoke;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}


/* Estilo del bot칩n para a침adir al carrito */
#agregarAlCarrito {
    margin: 20px;
    margin-left: 60px;
    background-color: #70d2c7;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.esconder-Elementos{
    display: none;
}

.esconder-Elementos{
    display: none;
}